.contact-thumbnail{
    height: 20rem!important;
}

.contact-thumbnail img{
    height: 14rem!important;
    width: 14rem!important;
    border-radius: 100%;
    margin-top: 2rem!important;
    border: 5px solid #32363b;
}

::-webkit-scrollbar{
    width:2px;
}

::-webkit-scrollbar-track{
    background-color: #212428;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.modal-video{
    width: 520px;
}

@media(max-width:730px) {
    .modal-video{
        width: 420px;
    }
}

@media(max-width:500px) {
    .modal-video{
        width: 320px;
    }
}

@media(max-width:450px) {
    .modal-video{
        width: 220px;
    }
}

@media(max-width:330px) {
    .modal-video{
        width: 150px;
    }
}